.container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #222222;
    padding: 0vh 15vw;
    justify-content: center;
    position: relative;
    background-color: var(--BrandLightGray);
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 32px;
}

@keyframes visibleAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.subtitle {
    font-size: var(--title2);
    color: var(--text);
    font-weight: 400;
    opacity: 0;
}

.title {
    font-size: var(--superTitle);
    font-weight: 500;
    margin-bottom: 3vh;
    animation-delay: .3s;
    opacity: 0;
    color: var(--text);
}

.description {
    font-size: var(--subtitle);
    width: 50%;
    font-weight: 400;
    line-height: 1.5rem;
    word-spacing: 1px;
    text-align: center;
    margin-bottom: 5vh;
    animation-delay: .6s;
    opacity: 0;
    color: var(--text);
}

@keyframes widthIn {
    0% {
        width: 0;
    }
    100% {
        width: 7vw;
    }
}

.hr {
    height: 1px;
    background-color: var(--BrandDark);
    border: none;
    align-self: center;
    animation-delay: 1.5s;
}

.width {
    animation: widthIn .5s ease-in-out forwards;
}

.visible {
    animation: visibleAnimation 1s ease-in-out forwards;
}


@media  (max-width: 799px) {
    
    .container {
        padding: 10vh 5vw;
    }

    .title {
        font-size: 28px;
    }

    .description {
        font-size: 16px;
        width: 80%;

    }

}

@media (min-width: 800px) and (max-width: 999px) {

    .container {
        padding: 5vh 5vw;
    }

    .description {
        width: 80%;
    }

}


@media (min-width: 1000px) and (max-width: 1199px) {

    .container {
        padding: 5vh 10vw;
    }

    .description {
        width: 70%;
    }
    

}


@media (min-width: 1200px) and (max-width: 1399px) {

    .container {
        padding: 5vh 10vw;
    }

}


@media (min-width: 1200px) and (max-width: 1399px) {

    .container {
        padding: 5vh 10vw;
    }

}